In [3]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 391 kB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [13]:
import pandas as pd

df = pd.read_excel('RNGWHHDm.xls', sheet_name="Data 1", header=2)
df.head()

        Date  Henry Hub Natural Gas Spot Price (Dollars per Million Btu)
0 1997-01-15                                               3.45
1 1997-02-15                                               2.15
2 1997-03-15                                               1.89
3 1997-04-15                                               2.03
4 1997-05-15                                               2.25

In [15]:
df.columns = ['Date', 'Price']

In [16]:
df.head()

        Date  Price
0 1997-01-15   3.45
1 1997-02-15   2.15
2 1997-03-15   1.89
3 1997-04-15   2.03
4 1997-05-15   2.25

In [19]:
df['Date'] = df['Date'].dt.strftime('%Y-%d-%m')

In [20]:
df.head()

         Date  Price
0  1997-15-01   3.45
1  1997-15-02   2.15
2  1997-15-03   1.89
3  1997-15-04   2.03
4  1997-15-05   2.25

In [21]:
df.to_csv("gas_price.csv")